@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;1,400&family=Poppins:ital,wght@0,100;0,300;0,700;1,400&family=Quicksand&display=swap');

body {
  background: #f4fbff;
  font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #007cbd;
}

.nav-item .btn {
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  color: #007cbd;
  
}
.nav-item .btn {
  color: #007cbd; 
  background-color: white;
}

.nav-item .btn:hover {
  color: white; 
  background-color: #007cbd;
}

.nav-link {
  margin-right: 30px;
  color: #fff;
}

/* END NAVBAR */

/* HOME */
.home {
  background: url(..//Detikcom_FrontendDesignAssignment_FirmansyahSutanWahyuPrakosa/img/home.png);
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: #fff;
}

.btn-home {
  padding: 16px 20px;
  border: none;
  border-radius: 10px;
  background: #000;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  color: white;
  font-weight: 800;
  font-size: 14px;
}

.title {
  text-transform: uppercase;
}


.sub-title {
  font-weight: 500;
}

.home .container .btn {
  background: #007cbd;
  border: none;
}

.home .container .btn:hover {
  color: #007cbd;
  
}

.home .title {
  font-weight: bolder;
}

/* END HOME */

/* ABOUT */

.about {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about h5 {
  font-size: 28px;
  color: #007cbd;
  font-weight: bold;
}

.p-about {
  font-size: 16px;
}

.btn-about {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.btn-about i {
  font-size: 2em; 
}
/* ABOUT */

/* MECHANISM */

.mechanism {
  background: url(../Detikcom_FrontendDesignAssignment_FirmansyahSutanWahyuPrakosa/img/mechanism.png) no-repeat center;
  background-size: cover;
  padding-bottom: 20%;
  padding-top: 20%;
}

.mechanism h2 {
  font-weight: 800;
  color: #fff;
  text-align: center;
  margin-top: 147px;
  margin-bottom: 50px;
  font-size: 45px;
}

.mechanism .card {
  background-color: #f0f0f0;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  display: flex;
}

.mechanism-card-content {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
}



.mechanism .icon {
  position: static;
  margin-right: 30px;
  margin-top: 10px;
}

.mechanism .icon img {
  max-width: 100%;
  height: auto;
}

.mechanism h5 {
  color: #007CBD;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.mechanism a {
  color: #007CBD;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}

.mechanism .card-date {
  color: #007cbd;
  position: absolute;
  right: 25px;
  font-size: 12px;

}

/* END MECHANISM */

/* LOGO  */

.logo .container {
  text-align: center;
}

.logo .container .btn {
  background: #007cbd;
  border: none;
  padding: 13px;
  font-weight: bold;
}
.logo .container .btn:hover {
  color:black;
}

.logo .container h3 {
  font-weight: bold;
  color: #007cbd;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logo-section {
  overflow: hidden;
  padding: 50px 0;
  white-space: nowrap;
  position: relative;
}

.logo-section:before,
.logo-section:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: '';
  z-index: 2;
}

.logos-slide {
  display: inline-block;
  animation: 10s slide infinite linear;
}

.logos-slide img {
  height: 100px;
  margin: 0 10px;
}

/* END LOGO  */

/* INVESTOR */

.article .container h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #007cbd;
}

.article .container .card-content {
  overflow: hidden;
  margin: 10px 10px;
}

.article .container .card-text {
  color: #7A7B7E;
  font-size: 12px;
}

.article .container .card-content img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.article .container .card-content .card-title {
  font-weight: bold;
}

.article .container .card-content:hover .card-title {
  color: #007cbd;
}

.article .container .card-content:hover img {
  transform: scale(1.1);
  border-radius: 20px;
}

/* END ARTICLE */

/* FOOTER */

.footer {
  background-color: #007cbd;
}

.text-footer {
  width: 754px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  word-wrap: break-word
}

.copyright {
  font-size: 12px;
  color: white;
}

.line-footer {
  height: 0px;
  border: 0.50px white solid
}

.logo-socmed {
  margin-left: 90%;
  display: flex;
  gap: 30px;
}

.logo-footer {
  margin-bottom: 30px;
}

/* END FOOTER */

/* REGISTER */

.bg-register {
  display: flex;
  width: fit-content;
  padding: 11px 0px 17px 0px;
  align-items: center;
  position: absolute;
  z-index: -10;
  top: 0;
}

.title-bg-register {
  margin-top: 70px;
  margin-left: 35%;
  text-align: center;
  position: absolute;
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 20px;
  word-wrap: break-word
}

.register-wrapper {
  overflow-y: auto;
  display: flex;
  justify-content: center;
}


.form {
  width: 640px;
  height: 889px;
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 16px;
  margin-top: 320px;
  margin-bottom: 77px;
}

.container-regist {
  background-color: #ffffff;
  display: flex;
  padding: 30px 20px;
  flex-direction: column;
  gap: 20px;
}

.name, .email, .phone, .about, .profile, .link {
  border: none;
  width: 100%;
  font-size: 12px;
  padding: 20px;
  border-radius: 8px;
  background-color: #f8f8f8;
}

.photo-input {
  background-color: #f8f8f8;
  width: 600px;
  display: flex;
}

.photo {
  background-color: #F8F8F8;
  width: 200px;
  padding: 80px;
}

.format-foto {
  background-color: #FFF;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.format-foto p {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
  margin-left: 19.97px;
}

.foto-btn {
  width: 40px;
  height: 40px;
  font-size: 30px;
  border: none;
  color: #FFF;
  background-color: var(--nav-color);
  border-radius: 100%;
}

.photo-desc {
  margin: auto;
  font-size: 10px;
  font-weight: 400;
}

.upload-file {
  border: none;
  width: 160px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #007cbd;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verification {
  display: flex;
}

.verif-check {
  width: 13.977px;
  height: 14px;
  flex-shrink: 0;
  border: none;
  border-radius: 2px;
  background: #c4c4c4;
  margin-right: 6.99px;
}

.register-btn {
  margin: auto;
  width: 250px;
  padding: 16px 20px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background-color: #007cbd;
  color: #ffff;
}

.text-verify {
  font-size: 12px;
}

.note-text {
  font-size: 10px;
  color: #828282;
}

/* END REGISTER */
